
body {
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex !important;
    justify-content: flex-start !important; 
    align-items: center !important;
    gap: 30px;
}


header a:hover,
header button#themeButton {
    color: #182439 ;
}

.icon-list i, 
.icon-list strong {
    color: #293F65;

}

header nav.show ul {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.logo-container img {
    filter: none;
}

footer {
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.intro p, .attractions h1 {
    color: #ffffff;
}

.hero-image {
    filter: brightness(100%);
}



@media screen and (max-width: 877px) {
    header nav, 
    #menuToggle, 
    #navMenu {
        display: none;
    }
    
    header a {
        padding: 8px 12px;
        font-size: 14px;
        display: block !important;
        margin-left: auto; 
    }
    header nav#navMenu {
        display: none !important;
    }
}




header nav#navMenu {
    margin-left: auto; 
    display: block; 
}

header nav ul {
    display: flex;
    gap: 25px; 
    list-style: none;
    margin: 0;
    padding: 0;
    color: #293F65;
    font-size: 16px;
    align-items: left;
    gap: 20 px;  
    font-family: inherit;
    font-weight: 400;
    text-decoration: none;
}

header nav ul li a {
    text-decoration: none;
    color: #293F65;
}


